doctype html
html
  head
    script(src='./static/app.js')
    link(rel='stylesheet' href='./static/app.css')
  body
    h1 Image Viewer!!!
    div Preview of the Image Viewer
      div(id='light-box' class='turn-off')
        div.navigation-btns
          div
            a.previous-btn
              div
          div
            a.next-btn
              div
        div.title-holder
          div.title-container
            h1.img-title
          div.close-container
            a.close-btn
              div
        div.light-cont
          div.image-viewer
      div.image-grid
