doctype html
html
  head
    script(src='./static/app.js')
    link(rel='stylesheet' href='./static/app.css')
  body
    h1 Image Viewer!!!
    div Search returns first 100 results!
    div.loader
    div
      input(type='text' id='search-tbx')
      button(id='search-btn') Search
      div(id='light-box' class='turn-off')
        div.navigation-btns
          div
            div.action-btn.previous
          div
            div.action-btn.next
        div.title-holder
          div.title-container
            h1.img-title
          div.close-container
            div.action-btn.close
        div.light-cont
          div.image-viewer
      div.image-grid
